.forcast {
	padding-top: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	&_day {
		width: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_date {
		font-size: 14px;
		text-align: center;
	}
	&_image {
		width: 28px;
		height: 28px;
	}
	&_icon {
		display: block;
		width: 100%;
		height: 100%;
	}
	&_temp {
		font-size: 24px;
		text-align: center;
	}
	&_text {
		font-size: 14px;
		font-style: italic;
		text-align: center;
	}
}
