.bottom {
	height: 100%;
	width: 100%;
	background: linear-gradient(
			hsl(198, 32%, 30%) 0%,
			rgba(80, 110, 140, 0.6) 100%
		),
		url('https://firebasestorage.googleapis.com/v0/b/weather-app-react-e1c92.appspot.com/o/images%2Fbg.jpg?alt=media&token=8912bf27-5142-429d-ac13-2a88366ac21d')
			center no-repeat;
	background-size: cover;
	color: #fff;
}
